body{
    background-image: url(../Images/greek-vase.png);
    font-family: 'Poppins', sans-serif;
}
.jumbotron{
    opacity:75%;
    color: black;
}
textarea {
    resize: none;
    border: none;
  }
.schedule-block{
    border: 2px solid black;
    margin: 10px;
    padding-top: 15px;
}
.time-button{
    padding: 20px;
    width: 100%;
}
.text-block-before{
    background-color: #888888;
    color: #eeeeee;
}
.text-block-during{
    background-color: red;
    color: #eeeeee;
}
.text-block-after{
    background-color: green;
    color: #eeeeee;
}
textarea:focus{
    outline: transparent style 1px;
    
}